extends template.pug

block content
    h1 About
    p Go to the Machines to view your paperspace machines.
    p Click on settings to view, enable or disable your automation settings for each machine.
    p If something doesn't look right at first, refresh the page or log out to fix it. (Bug)