extends template.pug

block content
    h1 Black Rocket Paperspace
    h5 Trying to make managing cloud computers easier since 2 weeks ago!
    h5 Tell your machines to start, stop and more with our sort of documented functions!
    br
    h4 We have stellar reviews!
    h5 It definitely has proper error handling! - Justin