extends template.pug

block content
  h1 Login
  if error
    div(class="alert alert-danger" role="alert") #{error}
  form(action="login" method="POST")
    input(type="hidden" name="_csrf" value="#{csrftoken}")
    div.form-group
      input(id="username" type="text" name="username" placeholder="Username" class="form-control" required)
    div.form-group
      input(id="password" type="password" name="password" placeholder="Password" class="form-control" required)
    div.form-actions  
      input(type="submit" value="Login" class="btn btn-primary btn-lg")