extends template.pug

block content
    if user
        h1 Hello, #{user.username}!
        h2 Account Details
        p Username: #{user.username}
        p Edit Details
    else    
        h1 Login/Register to view user credentials